{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1"/>
	<title>Portfolio Willi's Snow</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/webstyles.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/windowswebstyles.css' %}" />
	<script src="{% static 'foundation/vendor/modernizr.js' %}"></script>
	<script src="{% static 'js/prefixfree.js' %}"></script>
</head>
<body>

	<header class="row header">
		<p class="icon-menus"></p>
		<h1>Website erwilli</h1>
		<figure class="logo">
			<img src="{% static 'img/logowilli.png' %}" />
		</figure>
		<figure class="profile">
			<img src="{% static 'img/logowilli.png' %}" />
		</figure>
	</header>
	<section class="row container">
		<section class="grid-menu">
			<p>freewall</p>
		</section>
		<section class="small-2 columns">
			<figure>
				<img src="{% static 'img/testimg.png' %}" />
			</figure>
		</section>
		<section class="small-10 columns seudomenu">
			<ul id="list-menu">
				<li>
					<a href="" class="icon-arrow-down"></a>
					<p>Bio</p>
				</li>
				<li>
					<a href="" class="icon-arrow-down"></a>
					<p>knowledge</p>
				</li>
			</ul>
		</section>
	</section>
	<footer class="row footer">
		<p><a href="#">site.com</a></p>
		<ul class="share-icons">
			<li>
				<p class="icon-facebook"></p>
			</li>
			<li>
				<p class="icon-twitter"></p>
			</li>
			<li>
				<p class="icon-linkedin"></p>
			</li>
		</ul>
	</footer>
	<script src="{% static 'foundation/vendor/jquery.js' %}"></script>
    <script src="{% static 'foundation/foundation.min.js' %}"></script>
    <script src="{% static 'js/freewall.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script>
      $(document).foundation();
    </script>
</body>
</html>