{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,maximun-scale=1,minimun-scale=1"/>
	<title>Portfolio Willi's Snow</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
</head>
<body>

	<header>
		<figure>
			<img src="http://placehold.it/50x50" />
		</figure>
		<h1>Website erwilli</h1>
		<figure>
			<img src="http://placehold.it/50x50" />
		</figure>
	</header>
	<section>
		<section>
			<figure>
				<img src="http://placehold.it/320x217" />
			</figure>
		</section>
		<section>
			<ul>
				<li>Bio</li>
				<li>knowledge</li>
			</ul>
		</section>
	</section>
	<footer>
		<p><a href="#">site.com</a></p>
		<p>icono face</p>
		<p>icono twit</p>
		<p>icono twit</p>
	</footer>

</body>
</html>